# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor / IDE
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
*.suo
*.user

# Dependencies (si en el futuro usas npm)
node_modules/

# Logs y temporales
*.log
*.tmp
.cache/
